@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap')

*
    font-family: 'Poppins', sans-serif 

body
    background-color: #eeeeee
    display: grid
    width: 100%
    height: auto
    
    grid-template-columns: repeat(3,1fr)
    grid-template-rows: repeat(8,1fr)
    #header
        display: flex
        flex-wrap: nowrap
        justify-content: space-between
        #header-img
            grid-column: 1
            grid-row: 1/2
            width: 30%
            height: 15%
        #nav-bar
            grid-column: : 2/4
            grid-row: 1/2
            width: 50%
            font-size: 1rem
            display: flex
            flex-direction: row
            align-items: center
            justify-content: flex-end
            background-color: blue
    #main
        #form
            grid-area: main12
            text-align: center
            font-size: 1.5rem
            width: 100%
            padding: 5%
            #email
                background-color: white
                color: gray
                width: 40%
                margin: 1%
                padding: 0.5%
            #submit
                background-color: #f1c40f
                border-color: #f1c40f
                width: 20%
                padding: 0.5%